    #form-add-platoMenu {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-top: 1rem;
    }

    input[type="text"] {
        padding-block: 5px;
        padding-inline: 10px;
        border-radius: 5px;
        border: 1px solid #aaa;
    }

    #inputBuscar {
        width: 250px
    }

    .normal td {
        color: #222;
    }

    .bajo td {
        color: #f80;
        font-weight: bold;
    }

    .agotado td {
        color: #A00;
        font-weight: bold;
    }

    button,
    input[type="submit"] {
        padding-inline: 10px;
        padding-block: 5px;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #aaa;
    }

    .btn-vender {
        color: inherit;
        border-color: inherit;
        background-color: #ccc5;
        letter-spacing: 1px;
    }

    tr.agotado .btn-vender {
        cursor: no-drop;
    }

    p.message {
        font-size: 1.2rem;
        letter-spacing: 0.5px;
    }

    p.wait {
        color: #008;
    }

    p.success {
        color: #080;
        font-size: 1rem;
    }

    p.error {
        color: #800;
        letter-spacing: 2px;
    }