.mesa-card {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    color: #eee;
}

.mesa-card.disponible {
    background-color: #080;
}

.mesa-card.ocupada {
    background-color: #800;
}

.mesa-card.reservada {
    background-color: #f80;
}

.mesa-card.fuera_servicio {
    background-color: #444;
}